{
    attributes = (
        {columnName = body; name = body; prototypeName = varcharLarge; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = lastModifed; name = lastModifed; prototypeName = dateTime; }, 
        {allowsNull = N; columnName = personID; name = personID; prototypeName = id; }, 
        {
            columnName = timestampCreation; 
            name = timestampCreation; 
            prototypeName = dateTime; 
        }, 
        {columnName = title; name = title; prototypeName = varchar255; }
    ); 
    attributesUsedForLocking = (body, id, lastModifed, personID, timestampCreation, title); 
    className = "com.wowodc.model.BlogEntry"; 
    classProperties = (blogComments, body, categories, lastModifed, person, timestampCreation, title); 
    externalName = BlogEntry; 
    fetchSpecificationDictionary = {}; 
    name = BlogEntry; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = BlogCategoryEntry; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = blogEntryId; sourceAttribute = id; }); 
            name = blogCategoryEntries; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            destination = BlogComment; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = blogEntryID; sourceAttribute = id; }); 
            name = blogComments; 
        }, 
        {definition = "blogCategoryEntries.blogCategory"; name = categories; }, 
        {
            destination = Person; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = personID; }); 
            name = person; 
        }
    ); 
}
