<div id="post_list">
  <wo:loop list="$entries" item="$entryItem">
    <div class="post">
      <h2>
        <wo:ERXRouteLink action="show" record="$entryItem"><wo:str value="$entryItem.title" /></wo:ERXRouteLink>
      </h2>
      <p>Posted on 
        <wo:str value="$entryItem.timestampCreation" dateformat="%Y/%m/%d %H:%M" />
        by 
        <wo:str value="$entryItem.person.fullName" />
      </p>
      <p><wo:str value="$entryItem.body" escapeHTML="false" /></p>
      <p>Posted in: 
        <wo:loop list="$entryItem.categories" item="$entryCategory"><wo:ERXRouteLink action="show" record="$entryCategory"><wo:str value="$entryCategory.categoryDescription" /></wo:ERXRouteLink> </wo:loop>
      </p>
    </div>
  </wo:loop>
</div>
<!-- 
<div id="search_box">
  <p>Search</p>
</div>
<div id="archives_list"> November 2011 </div>
 -->
<div id="categories_list">
  <p>Categories</p>
  <ul>
    <wo:loop list="$categories" item="$categoryItem">
      <li>
        <wo:ERXRouteLink action="show" record="$categoryItem"><wo:str value="$categoryItem.categoryDescription" /></wo:ERXRouteLink>
      </li>
    </wo:loop>
  </ul>
</div>
<div id="authors_list">
  <p>Authors</p>
  <ul>
    <wo:loop list="$authors" item="$authorItem">
      <li>
        <wo:ERXRouteLink action="show" record="$authorItem"><wo:str value="$authorItem.fullName" /> </wo:ERXRouteLink>
      </li>
    </wo:loop>
  </ul>
</div>
<!-- 
<div id="links_list">
  <p>Links</p>
</div>
 -->