/* Enter custom rules for CSS required by your application here */

.CategoriesAttrVal input {
	width: 40px;
}

.CategoriesAttrVal table td {
	border: 0;
	padding: 3px;
}

.CategoriesAttrVal table.ERXMatrixTable {
	margin-bottom: 0;
}

.BodyAttrVal {
	padding: 10px 10px 10px 235px;
}