<webobject name="PageWrapper">
  <div class="Instructions">
    <p>This is a simple blog app that is being created in the spirit of
updating the blog application created in the 'WO in 15 minutes' movie
made by Jonathan ‘Wolf’ Rentzsch.</p>

<p>SimpleBlog has been designed to showcase ERModernLook development as
well as demonstrate some lesser known page level and property level
components available to the D2W developer in ERModernLook and the
broader ERD2W framework. I hope it will eventually show the progression
of building up and customizing a D2W application. Emphasis will be on
building up the administrative interface.</p>

<p>ERRest integration is being added to show how it might be used to create
a front-end with several desirable features such as nice URLs.</p>

<p>SimpleBlog depends on ERModernDirectToWeb modifications that are currently
located in my Wonder fork but may end up in Wonder proper.</p>

<p>SimpleBlog depends on a H2 database. The file H2 uses is located in
/tmp which will be deleted on restart. You may want to change the
property to point to a more permanent location if you want the database
to persist.</p>

<p>You may want to change your properties file to point to a database from
a different vendor.</p>

<p>The database will start up with a user with login credentials:</p>

<p>username: test password: test</p>

<p>You will need to change the build.properties file to point to your
installation of Wonder/WebObjects frameworks. It is currently:</p>

<p>wolips.properties=/Developer/WebObjects/Versions/WebObjects543/wolips.543.properties</p>
  </div>
</webobject>