(
	{
		name = Root;
		directActionClass = DirectAction;
		directActionName = default;
		children = "session.navigationRootChoice";
		childrenChoices = {
			home = (
				Instructions,
				Blog,
			);
			adminuser = (
			Instructions,
			Admin,
			);
			none = (
				PublicBlog,
			);
		};
	},
	{
		name = Admin;
		children = ("GroupedList","Category","Person","Role");
		action = "session.navController.listGroupedBlogAction";
	},
	{
		name = "Instructions";
		action = "session.navController.homeAction";
	},
	{
		name = "PublicBlog";
		action = "session.navController.listPublicBlogAction";
	},
	{
		name = "Blog";
		action = "session.navController.listMyBlogAction";
		children = ("List","CreateBlog");
	},
	{
		name = List;
		// children = ("Normal","XML");
		action = "session.navController.listMyBlogAction";
	},	
	{
		name = Normal;
		action = "session.navController.listBlogAction";
	},
	{
		name = XML;
		action = "session.navController.listXMLBlogAction";
	},
	{
		name = GroupedList;
		children = ("NormalGroup","CSVGroup");
		action = "session.navController.listGroupedBlogAction";
	},
	{
		name = NormalGroup;
		action = "session.navController.listGroupedBlogAction";
	},
	{
		name = CSVGroup;
		action = "session.navController.listGroupedCSVBlogAction";
	},
	{
		name = Tables;
		action = "session.navController.listTableBlogAction";
	},
	{
		name = CreateBlog;
		action = "session.navController.createBlogAction";
	},
	{
		name = Category;
		children = ("ListBlogCategory","CreateBlogCategory");
		action = "session.navController.listBlogCategoryAction";
	},
	{
		name = CreateBlogCategory;
		action = "session.navController.createBlogCategoryAction";
	},
	{
		name = ListBlogCategory;
		action = "session.navController.listBlogCategoryAction";
	},
		{
		name = Role;
		children = ("ListRole","CreateRole");
		action = "session.navController.listRoleAction";
	},
	{
		name = CreateRole;
		action = "session.navController.createRoleAction";
	},
	{
		name = ListRole;
		action = "session.navController.listRoleAction";
	},
		{
		name = Person;
		children = ("ListPerson","CreatePerson");
		action = "session.navController.listPersonAction";
	},
	{
		name = CreatePerson;
		action = "session.navController.createPersonAction";
	},
	{
		name = ListPerson;
		action = "session.navController.listPersonAction";
	},	
)